/* ///////// GENERAL STUFF ///////// */
body {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

a {
    color: #469BCE;
    text-decoration: none;
}

a:hover {
    color: #2E5F80;
}

a.external-link {
    display: flex;
    align-items: flex-start;
    font-weight: 700;
}

a.external-link:before {
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    background-color: #469BCE;
    margin: 7px 12px 0 0;
}

a.external-link + a.external-link {
    margin-top: 16px;
}

hr {
    margin-top: 24px;
    margin-bottom: 32px;
    border-color: #E8E6E7;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 8px;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #E8E6E7;
}

table td, table th {
    padding: 12px 6px;
}

table th {
    text-align: left;
    background-color: #469BCE;
    color: #fff;
    font-weight: 700;
}

.quote {
    margin-top: 40px;
}

.quote .quotation-mark {
    height: 24px;
    width: 24px;
    float: left;
    margin: 4px 8px 0 0;
    background-color: #469BCE;
}

.quote p {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
}

label, input {
    display: block;
}

input {
    border: 1px solid #B2B2B2;
    width: 100%;
    line-height: 32px;
    box-sizing: border-box;
    padding-left: 16px;
}

/* dropdown menu*/
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 100%;
    border: 1px solid #B2B2B2;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 0;
    margin-top: 4px;
}

select:focus {
    outline-color: #469BCE;
}

/* Checkbox and Radiobutton */
input[type="checkbox"], input[type="radio"] {
    display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label  {
    margin-top: 8px;
    color: #000;
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
    border: 1px solid #B2B2B2;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 3px 6px 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:before {
    background: #fff;
    color: #000;
    content: "✕";
    text-align: center;
}

input[type="radio"]:checked + label:before {
    background: #fff;
    color: #000;
    content: "●";
    text-align: center;
}

textarea {
    border: 1px solid #B2B2B2;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline-color: #469BCE;
}

input + label, select + label {
    margin-top: 24px;
}

section, nav, article {
    padding: 16px;
}

section section {
    padding: 0;
}

main button {
    color: #fff;
    padding: 8px 16px;
    border: none;
}

main button + button {
    margin-left: 8px;
}

main button[type="submit"] {
    background-color: #469BCE;
    color: #fff;
}

/* ///////// HEADER ///////// */
header .nav-container {
    background-color: #fff;
    padding: 16px;
}

header .search-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 24px 16px 0;
}

header .nav-container input {
    width: 180px;
    padding: 4px 24px;
    border-radius: 32px;
    background-color: #E8E6E7;
    border: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

header nav ul li {
    list-style: none;
    flex-shrink: 0;
    margin-right: 32px;
    margin-bottom: 4px;
}

header img {
    width: 100%;
    margin: 0;
}

header section {
    background-color: #469BCE;
    color: #fff;
}

header section h1 {
    margin-top: 0;
    font-weight: 300;
}

header section button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: #fff;
    border: none;
    color: #469BCE;
    margin-bottom: 16px;
}

header section button:after {
    content: '';
    display: inline-block;
    height: 12px;
    width: 16px;
    margin-left: 32px;
    background-color: #469BCE;
}

/* ///////// MAIN ///////// */
h1 {
    font-weight: 300;
    font-size: 34px;
    margin: 0;
}

h2 {
    font-weight: 300;
    font-size: 28px;
}

h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 8px 0;
}

section>section {
    margin-bottom: 48px;
}

section>section:last-child {
    margin-bottom: 0;
}

strong {
    font-weight: 700;
}

/* NAVIGATION */

main>nav {
    margin-top: 32px;
}

main>nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

main>nav ul li {
    list-style: none;
    display: inline;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 20px 0 0;
}

main>nav ul li:before {
    content: '';
    height: 8px;
    width: 8px;
    margin-right: 4px;
    background-color: #469BCE;
}

main>nav ul li.active a {
    color: #B2B2B2;
}

main>nav ul li.active:before {
    background-color: #B2B2B2;
}


/* IMAGE/VIDEO SECTION */
.two-column-wrapper-3-1 {
    display: grid;
}

.image-section img, .video-section img  {
    width: 100%;
}

/* COPY TEXT SECTION */
.copytext-section ul {
    margin-bottom: 24px;
}

.copytext-section table {
    margin-top: 24px;
}

.form-section p {
    margin: 32px 0 0 0;
}

.form-section p, .form-section label {
    color: #7A7A7A;
}

.form-section .asterisk-description {
    margin-top: 8px;
}

.form-section .btn-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-section .btn-container div {
    margin-right: 16px;
}

/* ASIDE */
aside h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 8px;
    background-color: #E8E6E7;
}

aside .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
}

aside .contact-wrapper img {
    width: 100%;
    margin-top: 4px;
}

aside .contact-wrapper p {
    margin-top: 4px;
}

aside .contact-wrapper .information {
    padding-left: 16px;
}

aside .information ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside:last-child {
    margin-bottom: 40px;
}

.document-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.document-list li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E8E6E7;
    padding: 12px 0;
    margin: 0;
}

.document-list li .document-image {
    height: 40px;
    width: 32px;
    background-color: #469BCE;
    margin-right: 12px;
}

.document-list li p:first-child {
    color: #469BCE;
    margin: 0;
    margin-bottom: 2px;
}

.document-list li p:last-child {
    color: #B2B2B2;
    margin: 0;
}


/* TEASERS */
.teasers article img {
    width: 100%;
}

.teasers .teaser-row {
    background-color: #F4F2F3;
    padding-bottom: 32px;
}

.video-thumbnail .time-stamp {
    margin-top: 8px;
    text-align: right;
    color: #B2B2B2;
}

.teaser-container {
    padding: 0 24px;
}

.teasers article {
    padding: 16px;
}

.teasers .document-list {
    border-top: 1px solid #E8E6E7;
}

.teaser-container article {
    padding: 0;
    margin-bottom: 40px;
}

.teaser-container article:last-child {
    margin-bottom: 80px;
}

/* ///////// FOOTER /////////  */
footer {
    color: #fff;
    background-color: #4B5258;
    padding: 16px;
}

footer .external-link {
    color: #fff;
    font-weight: 400;
}

footer .external-link:before {
    background-color: #fff;
}

/* ///////// MEDIA QUERIES ///////// */
@media screen and (min-width: 480px) {
    .image-section img {
        float: left;
        width: 50%;
        margin: 4px 24px 16px 0;
    }
}

@media screen and (min-width: 600px) {
    .teaser-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
    }

    .teaser-row h2 {
        margin-top: 0;
    }

    .two-column-wrapper-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
        padding: 24px;
    }

    .two-column-wrapper-1-1 article {
        padding: 0;
    }

    .video-teaser {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
    }

    .video-teaser p {
        margin-top: 32px;
    }

    .teaser-container .two-column-wrapper-1-1 {
        padding: 24px 0;
    }
}

@media screen and (min-width: 1280px) {
    .two-column-wrapper-3-1 {
        grid-template-columns: 3fr 1fr;
    }
}